html, body {
  text-align: center;
}
div.main {
  background-color: lightgray;
  height: 100vh;
  text-align: center;
}
div.content{
  background-color: white;
  width: 60%;
  margin: auto;
  padding: 15px;
  border-radius:10pt;
}
h1{
  font-size: 24pt;
}
p {
  font-size: 20pt;
}
